<div class="banner-container">
    <div class="banner">
        <div class="banner-text">
            <h2>
                Renting cars have<br>
                never been this easy
            </h2>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
        </div>
    </div>
    <!-- <img src="./Images/Hero BG.png" alt="">
    <h1 class="mid">Renting cars have <br>
         never been this easy</h1> -->

</div>


<section>
    <div class="select-container">
        <div class="select-box">
            <div class="select">
                <h2>Pick up Location</h2>
                <select name="" id="">
                    <option value="">select location</option>
                </select>
            </div>
            <div class="select">
                <h2>Pick up Date</h2>
                <select name="" id="">
                    <option value="">select location</option>
                </select>
            </div>
            <div class="select">
                <h2>Return Date</h2>
                <select name="" id="">
                    <option value="">select location</option>
                </select>
            </div>

            <div class="select">

                <button>Search for Cars</button>

            </div>
        </div>
    </div>
</section>


<div class="trusted">

    <img src="~/Images/Trusted By Section.png">

</div>





<div class="car-features">

    <div>
        <h1>Our featured cars</h1>
    </div>

    <div class="icons">
        <a href="#"><i class="fas fa-chevron-circle-right"></i></a>
        <a href="#"><i class="fas fa-chevron-circle-left"></i></a>

    </div>
</div>

<div class="car-fleet">
    <div class="car">
        <div class="car-image">
            <img src="images/Car Image.png" alt="">
        </div>
        <div class="car-text">
            <h2>Toyota Corolla T-20</h2>
            <p><img src="images/checked.png" alt=""> Air Conditioned</p>
            <p><img src="images/checked.png" alt=""> Bluetooth Sound System</p>
            <p><img src="images/checked.png" alt=""> Air Conditioned</p>
            <a href="#" class="rent">Rent Now</a>
        </div>
    </div>
    <div class="car">
        <div class="car-image">
            <img src="images/Car Image (1).png" alt="">
        </div>
        <div class="car-text">
            <h2>Toyota Corolla T-20</h2>
            <p><img src="images/checked.png" alt=""> Air Conditioned</p>
            <p><img src="images/checked.png" alt=""> Bluetooth Sound System</p>
            <p><img src="images/checked.png" alt=""> Air Conditioned</p>
            <a href="#" class="rent">Rent Now</a>
        </div>
    </div>
    <div class="car">
        <div class="car-image">
            <img src="images/Car Image (2).png" alt="">
        </div>
        <div class="car-text">
            <h2>Toyota Corolla T-20</h2>
            <p><img src="images/checked.png" alt=""> Air Conditioned</p>
            <p><img src="images/checked.png" alt=""> Bluetooth Sound System</p>
            <p><img src="images/checked.png" alt=""> Air Conditioned</p>
            <a href="#" class="rent">Rent Now</a>

        </div>

    </div>
</div>
<div class="attributes">
    <h2>Why We Are Different</h2>
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>

</div>

<div class="characteristics">
    <div class="methods">
        <img src="images/Vector.png" alt="">
        <h3>Easy Banking</h3>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>

    </div>
    <div class="methods">
        <img src="images/Shield.png" alt="">
        <h3>Secure Payment</h3>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>

    </div>
    <div class="methods">
        <img src="images/Vector (1).png" alt="">
        <h3>24/7 Tracking </h3>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>

    </div>
</div>

<div class="about-us">
    <h2>What do people say about us?</h2>
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
</div>

<div class="testimonials">
    <div class="testimonial-image">
        <img src="images/Testimonial Image.png" alt="">
    </div>
    <div class="testimonial-img">
        <p style="font-size: 16px;">
            “Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.“  <i class="tags">
                Anna De’Suza,<br>
                CEO at SpaceX
            </i>
        </p>

    </div>
</div>

<div class="our-stories" >
    <h2>Read our Stories</h2>
</div>
<div class="our-stories-container">
    <div class="our-stories-img">
        <img src="images/Blog Image.png" alt="">
        <div class="our-stories-text">
            <a href="" class="tags">Tags</a>
            <h3>Start a blog to reach your creative peak</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
            <a href=""><strong>Find Out More</strong></a>
        </div>
    </div>


    <div class="our-stories-img">
        <img src="images/Blog Image (1).png" alt="">
        <div class="our-stories-text">
            <a href="" class="tags">Tags</a>
            <h3>Starting your traveling blog with Vasco</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
            <a href=""><strong>Find Out More</strong></a>
        </div>
    </div>
    <div class="our-stories-img">
        <img src="images/Blog Image (2).png" alt="">
        <div class="our-stories-text">
            <a href="" class="tags">Tags</a>
            <h3>Caring is the new marketing</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
            <a href=""><strong>Find Out More</strong></a>
        </div>
    </div>

</div>



<section class="secondary-menu-bar">

           <div class="blue-box">
                <h3>Find Your Next Long Drive Now!</h3>

                <div class="secondary-search-bar">

                    <!-- <div class="search-bar-left"> -->
                    <div class="location">
                        <p>Pick Up Location</p>
                        <select name="Select Location" id="select-location" class="search-bar-item">
                            <option value="select-location" >Select Location</option>
                        </select>
                        <form action="#">
                            
                        </form>
                    </div>
        
                    <div class="pickup_date">
                        <p>Pick Up Date</p>
                        <select name="Pickup Date" id="select-pickup_date" class="search-bar-item">
                            <option value="pick a date" >Select Date</option>
                        </select>
                    </div>
        
                    <div class="return_date">
                        <p>Return Date</p>
                        <select name="Return Date" id="select-return_date" class="search-bar-item">
                            <option value="return date" >Select Date</option>
                        </select>
                    </div>
        
                    <Button class="searh-button">Search for Cars</Button>
        
                </div>

           </div>

        </section>



          <footer>
            <div class="left-menu-bar">
                <p><a href="index.html">CarVenture</a></p>

                <p>Rides for the daily achievers</p>
            </div>


            <div class="sub-footer">
                <h3>Company</h3>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                </ul>
            </div>

            <div class="sub-footer">
                <h3>Features</h3>
                <ul>
                    <li><a href="#">Vehicle Tracker</a></li>
                    <li><a href="#">iOS & Android Apps</a></li>
                    <li><a href="#">Business Trips</a></li>
                    <li><a href="#">Locations</a></li>
                </ul>
            </div>

            <div class="sub-footer">
                <h3>Contact Us</h3>
                <ul>
                    <li><a href="#">info@teamapp.com</a></li>
                    <li>(302) 555-0107</li>
                    <li>2972 Westheimer Rd. Santa Ana, Illinois 85486 </li>
                </ul>
            </div>

            <div class="sub-footer">
                <h3>Get deals and discounts</h3>
                <ul>
                    <li>Subscribe to our newsletter</li>
                </ul>

                <form action="">
                    <input type="email" class="email" placeholder="Email">
                </form>
            </div>

        </footer>